.heroSection {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 2rem;
  position: relative;
  max-width: 1120px;
  margin: 0 auto; 
  overflow: hidden;
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  max-width: 600px;
  text-align: left;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.heroDescription {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--secondary-text-color);
  line-height: 1.6;
}

.heroButton {
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}

.heroButton:hover {
  background-color: var(--link-hover);
}

.heroImageWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Aligns the image to the right */
  align-items: flex-end; /* Places the image at the bottom */
}

.heroImage {
  width: 350px; /* Adjust image width */
  height: auto;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.heroImage:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
